/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

.LazyLoad {
    opacity: 0;
    transition: all 3s ease-in-out;
}
  
.is-visible {
    opacity: 1;
}


 /* "@fortawesome/fontawesome-svg-core": "^6.4.0", */
    /* "@fortawesome/free-solid-svg-icons": "^6.4.0", */
    /* "@fortawesome/react-fontawesome": "^0.2.0", */